* {
  margin: 0;
}

html, body {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div#board {
  height: 600px;
  width: 600px;
  background-color: green;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

div#cell {
  box-sizing: border-box;
  background-color: rgb(204, 204, 204);
  border: 0.5px black solid;
}

div#cell.miss {
  background-color: rgb(180, 99, 113);
}

div#cell.hit {
  background-color: rgb(0, 255, 106);
}

div#cell:hover {
  background-color: black;
}

div#cell.ship {
  background-color: blue;
}
